# while loop

In [1]:

# While loop: Print Hello for 5 times
#while loop is very case sensetive
cnt = 0
while cnt < 5:
  print("Hello")
  cnt = cnt + 1

Hello
Hello
Hello
Hello
Hello

In [2]:
print("nilesh")

nilesh

# write user def function

In [3]:
# here we define a sq named function which is square of a x
def sq(x):
    return x*x

In [4]:
sq(9)

81

In [5]:
'''
here we def a func name square and cube where we take input from user 
'''
#def a function
def square(x):
    return x**2#return function operation

user=float(input("enter no"))#take user input

result=square(user)#store output of execution of user sq

print("square of number",user,"is",result)

enter no5
square of number 5.0 is 25.0

In [6]:
def cube(x):
    return x**3

user=float(input("enter number"))

result=cube(user)

print("cube of number",user,"is",result)

enter number5
cube of number 5.0 is 125.0

In [7]:
# write a function calc_grade(marks)
def calc_grade(marks):
    if marks >= 80:
        grade = "Distinction"
    elif marks >= 60:
        grade = "First Class"
    elif marks >= 40:
        grade = "Pass"
    else:
        grade = "Fail"
    return grade # it should be aligned with if

In [8]:
calc_grade(0)

'Fail'

In [9]:
def marks(grades):
    if grades>=90:
        print("a class")
    elif grades>=70:
        print("b class")
    elif grades>=40:
        print("c class")
    else:
        print("fail")
    return grades #here def of a function return if function as a opration of function

# list of string

In [10]:
list1=["mango","banan","orange","jackfriut"]
list1

['mango', 'banan', 'orange', 'jackfriut']

In [11]:
for i in list1:
    print(i.upper())

MANGO
BANAN
ORANGE
JACKFRIUT

In [12]:
for i in list1:
    print(i.lower())

mango
banan
orange
jackfriut

In [13]:
list1

['mango', 'banan', 'orange', 'jackfriut']

In [14]:
for i in list1:
    print(i.replace("a","b"))

mbngo
bbnbn
orbnge
jbckfriut

In [15]:

# Display fruits by changing case of all fruits to uppercase
for fruit in list1:
    #print(fruit.upper()) # in sigle line: print(fruit.upper(),end=" ")
     #print(fruit.upper(),end=",") #if we want outpiut in sinle line we have to use end=","
    #print(fruit.replace("u","a"), end=" ")
    #print(i.reverse()) #list is of a stroing so it cannot reverse

SyntaxError: incomplete input (3626565955.py, line 7)

In [ ]:
#index in python list
list1[0]   #for indexing must of of sq brackets []

In [ ]:
list1[6] # error occur bcoz of range is less then input

In [ ]:
#slicing of index

list1[0:2] #its indicates range between 0 to 2

In [ ]:
list1[0:3]

In [ ]:
list1[-3] #negative indexing indicate last se konsa element aya hai

In [ ]:
list2=["abc","erw","pqr","oip","azxc","dfv","asd"]
list2

In [ ]:
print(list2)

In [ ]:
name=str(input("enter name"))
gaav=str(input("enter gaav"))
contact=str(input("enter no"))

print("name is:",name+ " \n"+"gaav is:",gaav+"\n " +"contct is:",contact)

In [ ]:
#sliceing in python
#in list only sq bracket use for list o a string
n=list(range(10))
n

In [ ]:
n[0:6:2]

In [ ]:
n[1:6]

In [ ]:
print(n)


# in keyword use for finding in string

In [ ]:
'lk' in "nilesh" # it show the condition is true or false

In [ ]:
list1

In [ ]:
list1.append("coconut") #append use for extend the list

In [ ]:
list1

In [ ]:
list1.remove("orange")
list1

In [ ]:
#display fruits which contain substring as 'berry' using for loo
for i in list1:
    if 'ana' in i:
        print(i)

In [ ]:
for i in list1:
    if 'jack' in i:
        print(i)

In [ ]:
for fruit in list1:
    if 'man' in fruit:
        print(fruit)

In [22]:
list1.append("pineapple ")

In [23]:
list1.append("custod apple")

In [24]:
list1

['mango', 'banan', 'orange', 'jackfriut', 'pineapple ', 'custod apple']

In [25]:
for i in list1:
    if 'pple' in i:
        print(i)

pineapple
custod apple

In [26]:
list1

['mango', 'banan', 'orange', 'jackfriut', 'pineapple ', 'custod apple']

In [27]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list2=[]
list3=[]
#first we crate two empty list
for i in list1:
    if 'pple' in i:
        list2.append(i)#here using append wee add 2 element whicih directly coonencted in list1
    else :
        list3.append(i)
print(list2,end="")
print(list3,end="")

['pineapple ', 'custod apple']['mango', 'banan', 'orange', 'jackfriut']

In [28]:
list2

['pineapple ', 'custod apple']

In [29]:
list1

['mango', 'banan', 'orange', 'jackfriut', 'pineapple ', 'custod apple']

In [30]:
list3

['mango', 'banan', 'orange', 'jackfriut']

In [44]:
# print squares of all numbers of list1 to list2

l1=[1,2,3,4,5,6,7,8,9]  #l1 is a list of number
l2=[]         #l2 is for list of output

for i in l1:
    l2.append(i**2)   #l2 is append means extend 
print(l1,end="\n")
print(l2,end="")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
l3=[1,5,6,4,9,7]
l4=[i**2 for i in l3]

print(l3)
print(l4)

[1, 5, 6, 4, 9, 7]
[1, 25, 36, 16, 81, 49]

In [50]:
l5=[i+9 for i in l3]

print("additin is",l5)

additin is [10, 14, 15, 13, 18, 16]

In [51]:
list1

['mango', 'banan', 'orange', 'jackfriut', 'pineapple ', 'custod apple']

In [56]:
list6=[i for i in list1 if 'le' in i ] #using of for in new list from old list
print(list6)

['pineapple ', 'custod apple']

In [57]:
list1

['mango', 'banan', 'orange', 'jackfriut', 'pineapple ', 'custod apple']

In [59]:
newlist=[i for i in list1 if 'an' in i]
print(newlist)

['mango', 'banan', 'orange']

In [60]:
city=["kolhapur","pune","solapur","malakapur","sangli","satara"]
city

['kolhapur', 'pune', 'solapur', 'malakapur', 'sangli', 'satara']

In [63]:
op=[pur for pur in city if 'pur'in pur] #here op is a new list and for elements in op we use for statement
print(op)

['kolhapur', 'solapur', 'malakapur']

In [64]:
op

['kolhapur', 'solapur', 'malakapur']

In [66]:
city.index("kolhapur")

0

In [67]:
print(city)

['kolhapur', 'pune', 'solapur', 'malakapur', 'sangli', 'satara']

In [68]:
print(city,end="")

['kolhapur', 'pune', 'solapur', 'malakapur', 'sangli', 'satara']

In [69]:
city

['kolhapur', 'pune', 'solapur', 'malakapur', 'sangli', 'satara']

In [70]:
city[2]="karad" #karad is replaced at 2nd memory loc of list

In [71]:
city

['kolhapur', 'pune', 'karad', 'malakapur', 'sangli', 'satara']


# DS-tuple

In [72]:
#tuple is a data structure like list where the elements in list cannot be change 
#tuple is created with  curve bracket

In [74]:
list=(7,8,9,5,6,3)
list

(7, 8, 9, 5, 6, 3)

In [76]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [78]:
list

(7, 8, 9, 5, 6, 3)

In [79]:
list1=(8,7,8,96,4)
list1

(8, 7, 8, 96, 4)

In [83]:
list3=list+list1 #we can add two list of touple
list3

(7, 8, 9, 5, 6, 3, 8, 7, 8, 96, 4)

In [90]:
list.count(3)# in bracket we have passed an element of tuple (not the index)

1

In [91]:
list.index(5)  # in bracket we have passed an element of tuple (not the index)

3

In [92]:

# indexing and slicing with tuple is same as list
# extracting elements of tuple
list[2]

9

In [95]:
#slicing in tuple
list

(7, 8, 9, 5, 6, 3)

In [97]:
#print element in tuples between loc 0 to 6
list[0:6]

(7, 8, 9, 5, 6, 3)

In [98]:
#print elements in tuple from 2nd mem loc
list[2:]

(9, 5, 6, 3)

# DS-dictionary

In [100]:

# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value pairs".
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
# Here, keys are unique identifiers that are associated with each value.:
#imp is here is key and values

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [107]:
stationary={"pen":"blue","book":"english","notes":"c"}
stationary

{'pen': 'blue', 'book': 'english', 'notes': 'c'}

In [108]:
type(stationary)

dict

In [109]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [111]:
# access element of dictionary
stationary["pen"]

'blue'

In [112]:
stationary

{'pen': 'blue', 'book': 'english', 'notes': 'c'}

In [113]:
stationary["book"]

'english'

In [114]:
stationary["notes"]

'c'

In [116]:
stationary

{'pen': 'blue', 'book': 'english', 'notes': 'c'}

In [117]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view
#when we want only keys in dictinary we use key keyword
key=stationary.keys()
key

dict_keys(['pen', 'book', 'notes'])

In [118]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
#when we want only value in dictinary we use value keyword
values=stationary.values()
values

dict_values(['blue', 'english', 'c'])

In [119]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
#item shows the details of eack key:value pair
items=stationary.items()
items

dict_items([('pen', 'blue'), ('book', 'english'), ('notes', 'c')])

In [121]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

#using of update method

add_capital={"India": "New Delhi","abc":"xyz"}
stationary.update(add_capital)
stationary

{'pen': 'blue',
 'book': 'english',
 'notes': 'c',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [122]:
stationary

{'pen': 'blue',
 'book': 'english',
 'notes': 'c',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [123]:
stationary

{'pen': 'blue',
 'book': 'english',
 'notes': 'c',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [132]:
stationary.pop("abc") # pop() remove the key in a dictionary
stationary

{'pen': 'blue', 'book': 'english', 'notes': 'c'}

In [135]:
stationary['c']="mumbai" # this is example of adding a key and value ina a dictinary
stationary

{'pen': 'blue', 'book': 'english', 'notes': 'c', 'c': 'mumbai'}

In [136]:
stationary.popitem() # removes last key:value pair from dictionary

('c', 'mumbai')

In [137]:
stationary

{'pen': 'blue', 'book': 'english', 'notes': 'c'}

In [138]:
stationary.popitem()

('notes', 'c')

In [139]:
stationary

{'pen': 'blue', 'book': 'english'}

In [140]:

# Dictionary Values can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]
mylist

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [141]:
mytuple=(1,5,4,6,2,7)
mytuple

(1, 5, 4, 6, 2, 7)

In [144]:
#dicturdictionary of a key:value pair of list,tuple
data={ "a":mylist,
     "b":mytuple,
     "c":stationary}
data

{'a': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'b': (1, 5, 4, 6, 2, 7),
 'c': {'pen': 'blue', 'book': 'english'}}

In [146]:
data['a']#key of a list

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [147]:
data["b"]#key of tuple

(1, 5, 4, 6, 2, 7)

In [150]:
data['c']

{'pen': 'blue', 'book': 'english'}

In [149]:
data['c']["book"] #use of key to print value in key

'english'

In [151]:
sqrt(25)

NameError: name 'sqrt' is not defined

In [152]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: name 'sqrt' is not defined

In [156]:
from math import sqrt
sqrt(81)
sq(5)

25

In [157]:
factorial(5)

NameError: name 'factorial' is not defined

In [158]:
from math import factorial
factorial(5)

120

In [163]:
from math import sqrt
sq(5)

25

In [164]:
from math import factorial
factorial(5)

120

In [167]:
from math import *
tan(90)

-1.995200412208242

In [170]:
from math import *
list=[1,2,3,4,5]
sum(list) #prod(list)

15

In [171]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [174]:
from math import *
pi

3.141592653589793